<md-dialog id="agentModal">
    <form>
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2 class="header-tt">Chose Agent</h2>
                <!--<h2 class="header-tt">Chose Agents or Groups</h2>-->
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/close.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <!--<md-tabs class="tabs-wrp md-primary" md-dynamic-height md-border-bottom>-->
                <!--<md-tab label="Agents">-->
                    <md-content class="md-padding">
                        <div layout-fill  layout="column">
                        <md-list-item class="list-agent" ng-repeat="agent in all_agents">
                            <md-checkbox hidden></md-checkbox>
                            <p ng-click="forwardAgent(agent.user_nick, agent.user_id)">{{agent.user_login}}sdfsd</p>
                        </md-list-item>
                            </div>
                    </md-content>
                <!--</md-tab>-->
            <!--</md-tabs>-->
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button ng-click="cancel()" style="margin-right:20px;"  md-autofocus>
                Cancel
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>